enum GlobalCompositeOperation {
  value "source-over"
  value "source-in"
  value "source-out"
  value "source-atop"
  value "destination-over"
  value "destination-in"
  value "destination-out"
  value "destination-atop"
  value "lighter"
  value "copy"
  value "xor"
  value "multiply"
  value "screen"
  value "overlay"
  value "darken"
  value "lighten"
  value "color-dodge"
  value "color-burn"
  value "hard-light"
  value "soft-light"
  value "difference"
  value "exclusion"
  value "hue"
  value "saturation"
  value "color"
  value "luminosity"
}